@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.terminal-line {
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: -0.025em;
}
